In [3]:
import nibabel as nib
import matplotlib.pyplot as plt
from scipy import ndimage
import cv2
import glob
import nilearn
from nilearn import image
import numpy as np
from PIL import Image
import pandas as pd
import matplotlib

In [4]:
train1=pd.read_csv('/csv_files/MD_only/dti_train_fold1.csv', index_col=0)
train1.groupby('Label').count()
train1

                                          DWI_file   day   Label
Subject
OAS30334  MD_sub-OAS30334_ses-d0889_run-02_dwi.nii   889      AD
OAS30355  MD_sub-OAS30355_ses-d0048_run-02_dwi.nii    48      AD
OAS30355  MD_sub-OAS30355_ses-d0861_run-02_dwi.nii   861      AD
OAS30373  MD_sub-OAS30373_ses-d1211_run-02_dwi.nii  1211      AD
OAS30410  MD_sub-OAS30410_ses-d0034_run-02_dwi.nii    34      AD
...                                            ...   ...     ...
OAS30402  MD_sub-OAS30402_ses-d0015_run-02_dwi.nii    15  Normal
OAS30403  MD_sub-OAS30403_ses-d1232_run-02_dwi.nii  1232  Normal
OAS30405  MD_sub-OAS30405_ses-d1883_run-02_dwi.nii  1883  Normal
OAS30407  MD_sub-OAS30407_ses-d0061_run-04_dwi.nii    61  Normal
OAS30407  MD_sub-OAS30407_ses-d1267_run-02_dwi.nii  1267  Normal

[234 rows x 3 columns]

In [5]:
train_labels=[]
train_file_names=[]
dftrain=train1
for i in range(len(dftrain['DWI_file'])):
    file_name=dftrain.iloc[i].DWI_file
    label=dftrain.iloc[i].Label

    mri = nib.load('/nii_data/MD/'+file_name)
    zooms = mri.header.get_zooms()
    old_affine = mri.affine
    new_affine = nib.affines.rescale_affine(affine=old_affine, shape=mri.get_fdata().shape, zooms=zooms, new_shape=(96,96,96))
    new_mri = image.resample_img(mri, target_affine=new_affine,target_shape=(96,96,96), interpolation='nearest')    
    epi_img_data = new_mri.get_fdata()
    if label=='Normal':
        slice_0 = epi_img_data[96//2, :, :]
        slice_1 = epi_img_data[:, 96//2, :]
        slice_2 = epi_img_data[:, :, 96//2]

        
        mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256
        mri = Image.fromarray(mri)
        name=file_name[0:-4]+'_1.png'
        train_labels.append(label)
        train_file_names.append(name)
        mri.save('/datasets/MD_only/fold1/train/{}'.format(name))   
    elif label=='MCI':
        for i in range(24,72):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]

            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)

            mri.save('/datasets/MD_only/fold1/train/{}'.format(name))        
 

    elif label=='AD':
        for i in range(46,51):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]


            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)

            mri.save('/datasets/MD_only/fold1/train/{}'.format(name))

In [6]:
fold1_train={'File_name':train_file_names,
      'Label':train_labels}  
df_fold1_train= pd.DataFrame (fold1_train, columns =  ['File_name','Label'])
df_fold1_train.groupby('Label').count()
df_fold1_train
from sklearn.utils import shuffle
df_fold1_train = shuffle(df_fold1_train)
np.savetxt('/txt_files/train_fold1.txt', df_fold1_train.values,delimiter=" ", fmt="%s")
df_fold1_train.groupby('Label').count()

        File_name
Label
AD            185
MCI           192
Normal        193

In [7]:
train2=pd.read_csv('/csv_files/dti_train_fold2.csv', index_col=0)
train2.groupby('Label').count()
train2

                                          DWI_file   day   Label
Subject
OAS30076  MD_sub-OAS30076_ses-d1735_run-02_dwi.nii  1735      AD
OAS30085  MD_sub-OAS30085_ses-d1566_run-02_dwi.nii  1566      AD
OAS30136  MD_sub-OAS30136_ses-d0063_run-02_dwi.nii    63      AD
OAS30139  MD_sub-OAS30139_ses-d0101_run-02_dwi.nii   101      AD
OAS30206  MD_sub-OAS30206_ses-d2303_run-02_dwi.nii  2303      AD
...                                            ...   ...     ...
OAS30402  MD_sub-OAS30402_ses-d0015_run-02_dwi.nii    15  Normal
OAS30403  MD_sub-OAS30403_ses-d1232_run-02_dwi.nii  1232  Normal
OAS30405  MD_sub-OAS30405_ses-d1883_run-02_dwi.nii  1883  Normal
OAS30407  MD_sub-OAS30407_ses-d0061_run-04_dwi.nii    61  Normal
OAS30407  MD_sub-OAS30407_ses-d1267_run-02_dwi.nii  1267  Normal

[234 rows x 3 columns]

In [9]:
train_labels=[]
train_file_names=[]
dftrain=train2
for i in range(len(dftrain['DWI_file'])):
    file_name=dftrain.iloc[i].DWI_file
    label=dftrain.iloc[i].Label

    mri = nib.load('/nii_data/MD/'+file_name)
    zooms = mri.header.get_zooms()
    old_affine = mri.affine
    new_affine = nib.affines.rescale_affine(affine=old_affine, shape=mri.get_fdata().shape, zooms=zooms, new_shape=(96,96,96))
    new_mri = image.resample_img(mri, target_affine=new_affine,target_shape=(96,96,96), interpolation='nearest')    
    epi_img_data = new_mri.get_fdata()
    if label=='Normal':
        slice_0 = epi_img_data[96//2, :, :]
        slice_1 = epi_img_data[:, 96//2, :]
        slice_2 = epi_img_data[:, :, 96//2]

        mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

        mri = Image.fromarray(mri)
        name=file_name[0:-4]+'_1.png'
        train_labels.append(label)
        train_file_names.append(name)
        mri.save('/datasets/MD_only/fold2/train/{}'.format(name))                        
    elif label=='MCI':
        for i in range(24,72):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]

            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)
            mri.save('/datasets/MD_only/fold2/train/{}'.format(name))        
 

    elif label=='AD':
        for i in range(46,51):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]

            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)
            mri.save('/datasets/MD_only/fold2/train/{}'.format(name))

In [10]:
fold1_train={'File_name':train_file_names,
      'Label':train_labels}  
df_fold1_train= pd.DataFrame (fold1_train, columns =  ['File_name','Label'])
df_fold1_train.groupby('Label').count()
df_fold1_train
from sklearn.utils import shuffle
df_fold1_train = shuffle(df_fold1_train)
np.savetxt('/txt_files/train_fold2.txt', df_fold1_train.values,delimiter=" ", fmt="%s")
df_fold1_train.groupby('Label').count()

        File_name
Label
AD            185
MCI           192
Normal        193

In [11]:
train3=pd.read_csv('/csv_files/dti_train_fold3.csv', index_col=0)
train3.groupby('Label').count()
train3

                                          DWI_file   day   Label
Subject
OAS30076  MD_sub-OAS30076_ses-d1735_run-02_dwi.nii  1735      AD
OAS30085  MD_sub-OAS30085_ses-d1566_run-02_dwi.nii  1566      AD
OAS30136  MD_sub-OAS30136_ses-d0063_run-02_dwi.nii    63      AD
OAS30139  MD_sub-OAS30139_ses-d0101_run-02_dwi.nii   101      AD
OAS30206  MD_sub-OAS30206_ses-d2303_run-02_dwi.nii  2303      AD
...                                            ...   ...     ...
OAS30402  MD_sub-OAS30402_ses-d0015_run-02_dwi.nii    15  Normal
OAS30403  MD_sub-OAS30403_ses-d1232_run-02_dwi.nii  1232  Normal
OAS30405  MD_sub-OAS30405_ses-d1883_run-02_dwi.nii  1883  Normal
OAS30407  MD_sub-OAS30407_ses-d0061_run-04_dwi.nii    61  Normal
OAS30407  MD_sub-OAS30407_ses-d1267_run-02_dwi.nii  1267  Normal

[234 rows x 3 columns]

In [12]:
train_labels=[]
train_file_names=[]
dftrain=train3
for i in range(len(dftrain['DWI_file'])):
    file_name=dftrain.iloc[i].DWI_file
    label=dftrain.iloc[i].Label

    mri = nib.load('/nii_data/MD/'+file_name)
    zooms = mri.header.get_zooms()
    old_affine = mri.affine
    new_affine = nib.affines.rescale_affine(affine=old_affine, shape=mri.get_fdata().shape, zooms=zooms, new_shape=(96,96,96))
    new_mri = image.resample_img(mri, target_affine=new_affine,target_shape=(96,96,96), interpolation='nearest')    
    epi_img_data = new_mri.get_fdata()
    if label=='Normal':
        slice_0 = epi_img_data[96//2, :, :]
        slice_1 = epi_img_data[:, 96//2, :]
        slice_2 = epi_img_data[:, :, 96//2]

        mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

        mri = Image.fromarray(mri)
        name=file_name[0:-4]+'_1.png'
        train_labels.append(label)
        train_file_names.append(name)
        mri.save('/datasets/MD_only/fold3/train/{}'.format(name))                        
    elif label=='MCI':
        for i in range(24,72):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]

            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256
 
            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)
            mri.save('/datasets/MD_only/fold3/train/{}'.format(name))        
 

    elif label=='AD':
        for i in range(46,51):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]

            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)
            mri.save('/datasets/MD_only/fold3/train/{}'.format(name))

In [13]:
fold1_train={'File_name':train_file_names,
      'Label':train_labels}  
df_fold1_train= pd.DataFrame (fold1_train, columns =  ['File_name','Label'])
df_fold1_train.groupby('Label').count()
df_fold1_train
from sklearn.utils import shuffle
df_fold1_train = shuffle(df_fold1_train)
np.savetxt('/txt_files/train_fold3.txt', df_fold1_train.values,delimiter=" ", fmt="%s")
df_fold1_train.groupby('Label').count()

        File_name
Label
AD            190
MCI           192
Normal        192

In [14]:
train4=pd.read_csv('/csv_files/dti_train_fold4.csv', index_col=0)
train4.groupby('Label').count()
train4

                                          DWI_file   day   Label
Subject
OAS30076  MD_sub-OAS30076_ses-d1735_run-02_dwi.nii  1735      AD
OAS30085  MD_sub-OAS30085_ses-d1566_run-02_dwi.nii  1566      AD
OAS30136  MD_sub-OAS30136_ses-d0063_run-02_dwi.nii    63      AD
OAS30139  MD_sub-OAS30139_ses-d0101_run-02_dwi.nii   101      AD
OAS30206  MD_sub-OAS30206_ses-d2303_run-02_dwi.nii  2303      AD
...                                            ...   ...     ...
OAS30402  MD_sub-OAS30402_ses-d0015_run-02_dwi.nii    15  Normal
OAS30403  MD_sub-OAS30403_ses-d1232_run-02_dwi.nii  1232  Normal
OAS30405  MD_sub-OAS30405_ses-d1883_run-02_dwi.nii  1883  Normal
OAS30407  MD_sub-OAS30407_ses-d0061_run-04_dwi.nii    61  Normal
OAS30407  MD_sub-OAS30407_ses-d1267_run-02_dwi.nii  1267  Normal

[235 rows x 3 columns]

In [15]:
train_labels=[]
train_file_names=[]
dftrain=train4
for i in range(len(dftrain['DWI_file'])):
    file_name=dftrain.iloc[i].DWI_file
    label=dftrain.iloc[i].Label

    mri = nib.load('/nii_data/MD/'+file_name)
    zooms = mri.header.get_zooms()
    old_affine = mri.affine
    new_affine = nib.affines.rescale_affine(affine=old_affine, shape=mri.get_fdata().shape, zooms=zooms, new_shape=(96,96,96))
    new_mri = image.resample_img(mri, target_affine=new_affine,target_shape=(96,96,96), interpolation='nearest')    
    epi_img_data = new_mri.get_fdata()
    if label=='Normal':
        slice_0 = epi_img_data[96//2, :, :]
        slice_1 = epi_img_data[:, 96//2, :]
        slice_2 = epi_img_data[:, :, 96//2]

        mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

        mri = Image.fromarray(mri)
        name=file_name[0:-4]+'_1.png'
        train_labels.append(label)
        train_file_names.append(name)
        mri.save('/datasets/MD_only/fold4/train/{}'.format(name))                        
    elif label=='MCI':
        for i in range(24,72):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]

            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)
            mri.save('/datasets/MD_only/fold4/train/{}'.format(name))        
 

    elif label=='AD':
        for i in range(46,51):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]

            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)
            mri.save('/datasets/MD_only/fold4/train/{}'.format(name))

In [16]:
fold1_train={'File_name':train_file_names,
      'Label':train_labels}  
df_fold1_train= pd.DataFrame (fold1_train, columns =  ['File_name','Label'])
df_fold1_train.groupby('Label').count()
df_fold1_train
from sklearn.utils import shuffle
df_fold1_train = shuffle(df_fold1_train)
np.savetxt('/txt_file/train_fold4.txt', df_fold1_train.values,delimiter=" ", fmt="%s")
df_fold1_train.groupby('Label').count()

        File_name
Label
AD            190
MCI           192
Normal        193

In [17]:
train5=pd.read_csv('/csv_files/dti_train_fold5.csv', index_col=0)
train5.groupby('Label').count()
train5

                                          DWI_file   day   Label
Subject
OAS30076  MD_sub-OAS30076_ses-d1735_run-02_dwi.nii  1735      AD
OAS30085  MD_sub-OAS30085_ses-d1566_run-02_dwi.nii  1566      AD
OAS30136  MD_sub-OAS30136_ses-d0063_run-02_dwi.nii    63      AD
OAS30139  MD_sub-OAS30139_ses-d0101_run-02_dwi.nii   101      AD
OAS30206  MD_sub-OAS30206_ses-d2303_run-02_dwi.nii  2303      AD
...                                            ...   ...     ...
OAS30324  MD_sub-OAS30324_ses-d0119_run-02_dwi.nii   119  Normal
OAS30326  MD_sub-OAS30326_ses-d0189_run-04_dwi.nii   189  Normal
OAS30328  MD_sub-OAS30328_ses-d0105_run-02_dwi.nii   105  Normal
OAS30333  MD_sub-OAS30333_ses-d2005_run-02_dwi.nii  2005  Normal
OAS30333  MD_sub-OAS30333_ses-d2008_run-02_dwi.nii  2008  Normal

[235 rows x 3 columns]

In [18]:
train_labels=[]
train_file_names=[]
dftrain=train5
for i in range(len(dftrain['DWI_file'])):
    file_name=dftrain.iloc[i].DWI_file
    label=dftrain.iloc[i].Label

    mri = nib.load('/nii_data/MD/'+file_name)
    zooms = mri.header.get_zooms()
    old_affine = mri.affine
    new_affine = nib.affines.rescale_affine(affine=old_affine, shape=mri.get_fdata().shape, zooms=zooms, new_shape=(96,96,96))
    new_mri = image.resample_img(mri, target_affine=new_affine,target_shape=(96,96,96), interpolation='nearest')    
    epi_img_data = new_mri.get_fdata()
    if label=='Normal':
        slice_0 = epi_img_data[96//2, :, :]
        slice_1 = epi_img_data[:, 96//2, :]
        slice_2 = epi_img_data[:, :, 96//2]

        mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

        mri = Image.fromarray(mri)
        name=file_name[0:-4]+'_1.png'
        train_labels.append(label)
        train_file_names.append(name)
        mri.save('/datasets/MD_only/fold5/train/{}'.format(name))                        
    elif label=='MCI':
        for i in range(24,72):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]

            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)
            mri.save('/datasets/MD_only/fold5/train/{}'.format(name))        
 

    elif label=='AD':
        for i in range(46,51):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]

            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)
            mri.save('/datasets/MD_only/fold5/train/{}'.format(name))

In [19]:
fold1_train={'File_name':train_file_names,
      'Label':train_labels}  
df_fold1_train= pd.DataFrame (fold1_train, columns =  ['File_name','Label'])
df_fold1_train.groupby('Label').count()
df_fold1_train
from sklearn.utils import shuffle
df_fold1_train = shuffle(df_fold1_train)
np.savetxt('/txt_files/train_fold5.txt', df_fold1_train.values,delimiter=" ", fmt="%s")
df_fold1_train.groupby('Label').count()

        File_name
Label
AD            190
MCI           192
Normal        193

In [20]:
test1=pd.read_csv('/csv_files/dti_test_fold1.csv', index_col=0)
test1.groupby('Label').count()

        DWI_file  day
Label
AD            10   10
MCI            1    1
Normal        48   48

In [21]:
train_labels=[]
train_file_names=[]
dftrain=test1
for i in range(len(dftrain['DWI_file'])):
    file_name=dftrain.iloc[i].DWI_file
    label=dftrain.iloc[i].Label

    mri = nib.load('/nii_data/MD/'+file_name)
    zooms = mri.header.get_zooms()
    old_affine = mri.affine
    new_affine = nib.affines.rescale_affine(affine=old_affine, shape=mri.get_fdata().shape, zooms=zooms, new_shape=(96,96,96))
    new_mri = image.resample_img(mri, target_affine=new_affine,target_shape=(96,96,96), interpolation='nearest')    
    epi_img_data = new_mri.get_fdata()
    if label=='Normal':
        slice_0 = epi_img_data[96//2, :, :]
        slice_1 = epi_img_data[:, 96//2, :]
        slice_2 = epi_img_data[:, :, 96//2]

        mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

        mri = Image.fromarray(mri)
        name=file_name[0:-4]+'_1.png'
        train_labels.append(label)
        train_file_names.append(name)
        mri.save('/datasets/MD_only/fold1/test/{}'.format(name))                        
    elif label=='MCI':
        for i in range(24,72):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]

            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)
            mri.save('/datasets/MD_only/fold1/test/{}'.format(name))        
 

    elif label=='AD':
        for i in range(46,51):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]

            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)
            mri.save('/datasets/MD_only/fold1/test/{}'.format(name))

In [22]:
fold1_train={'File_name':train_file_names,
      'Label':train_labels}  
df_fold1_train= pd.DataFrame (fold1_train, columns =  ['File_name','Label'])
df_fold1_train.groupby('Label').count()
df_fold1_train
from sklearn.utils import shuffle
df_fold1_train = shuffle(df_fold1_train)
np.savetxt('/txt_files/test_fold1.txt', df_fold1_train.values,delimiter=" ", fmt="%s")
df_fold1_train.groupby('Label').count()

        File_name
Label
AD             50
MCI            48
Normal         48

In [24]:
test2=pd.read_csv('/csv_files/dti_test_fold2.csv', index_col=0)
test2.groupby('Label').count()
test2

                                          DWI_file   day   Label
Subject
OAS30334  MD_sub-OAS30334_ses-d0889_run-02_dwi.nii   889      AD
OAS30355  MD_sub-OAS30355_ses-d0048_run-02_dwi.nii    48      AD
OAS30355  MD_sub-OAS30355_ses-d0861_run-02_dwi.nii   861      AD
OAS30373  MD_sub-OAS30373_ses-d1211_run-02_dwi.nii  1211      AD
OAS30410  MD_sub-OAS30410_ses-d0034_run-02_dwi.nii    34      AD
OAS30415  MD_sub-OAS30415_ses-d0784_run-02_dwi.nii   784      AD
OAS30418  MD_sub-OAS30418_ses-d0803_run-02_dwi.nii   803      AD
OAS30445  MD_sub-OAS30445_ses-d0133_run-02_dwi.nii   133      AD
OAS30472  MD_sub-OAS30472_ses-d1267_run-02_dwi.nii  1267      AD
OAS30498  MD_sub-OAS30498_ses-d0132_run-02_dwi.nii   132      AD
OAS30672  MD_sub-OAS30672_ses-d0107_run-02_dwi.nii   107     MCI
OAS30048  MD_sub-OAS30048_ses-d3367_run-02_dwi.nii  3367  Normal
OAS30048  MD_sub-OAS30048_ses-d3375_run-02_dwi.nii  3375  Normal
OAS30048  MD_sub-OAS30048_ses-d3731_run-02_dwi.nii  3731  Normal
OAS30048  MD_sub-OAS30048_ses-d4459_run-02_dwi.nii  4459  Normal
OAS30049  MD_sub-OAS30049_ses-d1633_run-02_dwi.nii  1633  Normal
OAS30050  MD_sub-OAS30050_ses-d0110_run-02_dwi.nii   110  Normal
OAS30061  MD_sub-OAS30061_ses-d0035_run-02_dwi.nii    35  Normal
OAS30062  MD_sub-OAS30062_ses-d3432_run-02_dwi.nii  3432  Normal
OAS30065  MD_sub-OAS30065_ses-d0548_run-02_dwi.nii   548  Normal
OAS30065  MD_sub-OAS30065_ses-d2009_run-02_dwi.nii  2009  Normal
OAS30066  MD_sub-OAS30066_ses-d0524_run-02_dwi.nii   524  Normal
OAS30066  MD_sub-OAS30066_ses-d2006_run-02_dwi.nii  2006  Normal
OAS30071  MD_sub-OAS30071_ses-d0018_run-02_dwi.nii    18  Normal
OAS30071  MD_sub-OAS30071_ses-d0055_run-02_dwi.nii    55  Normal
OAS30073  MD_sub-OAS30073_ses-d2851_run-02_dwi.nii  2851  Normal
OAS30073  MD_sub-OAS30073_ses-d3670_run-02_dwi.nii  3670  Normal
OAS30073  MD_sub-OAS30073_ses-d4456_run-02_dwi.nii  4456  Normal
OAS30074  MD_sub-OAS30074_ses-d1871_run-02_dwi.nii  1871  Normal
OAS30074  MD_sub-OAS30074_ses-d2812_run-02_dwi.nii  2812  Normal
OAS30075  MD_sub-OAS30075_ses-d0143_run-02_dwi.nii   143  Normal
OAS30075  MD_sub-OAS30075_ses-d0148_run-02_dwi.nii   148  Normal
OAS30075  MD_sub-OAS30075_ses-d0442_run-02_dwi.nii   442  Normal
OAS30075  MD_sub-OAS30075_ses-d0967_run-02_dwi.nii   967  Normal
OAS30079  MD_sub-OAS30079_ses-d1833_run-02_dwi.nii  1833  Normal
OAS30079  MD_sub-OAS30079_ses-d2668_run-02_dwi.nii  2668  Normal
OAS30080  MD_sub-OAS30080_ses-d0048_run-02_dwi.nii    48  Normal
OAS30080  MD_sub-OAS30080_ses-d1318_run-02_dwi.nii  1318  Normal
OAS30082  MD_sub-OAS30082_ses-d1700_run-02_dwi.nii  1700  Normal
OAS30083  MD_sub-OAS30083_ses-d2882_run-02_dwi.nii  2882  Normal
OAS30083  MD_sub-OAS30083_ses-d3827_run-02_dwi.nii  3827  Normal
OAS30090  MD_sub-OAS30090_ses-d0118_run-02_dwi.nii   118  Normal
OAS30092  MD_sub-OAS30092_ses-d3727_run-02_dwi.nii  3727  Normal
OAS30093  MD_sub-OAS30093_ses-d0056_run-02_dwi.nii    56  Normal
OAS30093  MD_sub-OAS30093_ses-d0070_run-02_dwi.nii    70  Normal
OAS30093  MD_sub-OAS30093_ses-d1192_run-02_dwi.nii  1192  Normal
OAS30097  MD_sub-OAS30097_ses-d2551_run-02_dwi.nii  2551  Normal
OAS30099  MD_sub-OAS30099_ses-d0032_run-02_dwi.nii    32  Normal
OAS30107  MD_sub-OAS30107_ses-d2765_run-02_dwi.nii  2765  Normal
OAS30108  MD_sub-OAS30108_ses-d1062_run-02_dwi.nii  1062  Normal
OAS30108  MD_sub-OAS30108_ses-d2066_run-02_dwi.nii  2066  Normal
OAS30109  MD_sub-OAS30109_ses-d2310_run-02_dwi.nii  2310  Normal
OAS30109  MD_sub-OAS30109_ses-d2320_run-02_dwi.nii  2320  Normal
OAS30112  MD_sub-OAS30112_ses-d0091_run-02_dwi.nii    91  Normal
OAS30115  MD_sub-OAS30115_ses-d0138_run-02_dwi.nii   138  Normal
OAS30117  MD_sub-OAS30117_ses-d4155_run-02_dwi.nii  4155  Normal
OAS30126  MD_sub-OAS30126_ses-d2361_run-02_dwi.nii  2361  Normal
OAS30126  MD_sub-OAS30126_ses-d3465_run-02_dwi.nii  3465  Normal
OAS30127  MD_sub-OAS30127_ses-d0098_run-02_dwi.nii    98  Normal

In [25]:
train_labels=[]
train_file_names=[]
dftrain=test2
for i in range(len(dftrain['DWI_file'])):
    file_name=dftrain.iloc[i].DWI_file
    label=dftrain.iloc[i].Label

    mri = nib.load('/nii_data/MD/'+file_name)
    zooms = mri.header.get_zooms()
    old_affine = mri.affine
    new_affine = nib.affines.rescale_affine(affine=old_affine, shape=mri.get_fdata().shape, zooms=zooms, new_shape=(96,96,96))
    new_mri = image.resample_img(mri, target_affine=new_affine,target_shape=(96,96,96), interpolation='nearest')    
    epi_img_data = new_mri.get_fdata()
    if label=='Normal':
        slice_0 = epi_img_data[96//2, :, :]
        slice_1 = epi_img_data[:, 96//2, :]
        slice_2 = epi_img_data[:, :, 96//2]

        mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

        mri = Image.fromarray(mri)
        name=file_name[0:-4]+'_1.png'
        train_labels.append(label)
        train_file_names.append(name)
        mri.save('/datasets/MD_only/fold2/test/{}'.format(name))                        
    elif label=='MCI':
        for i in range(24,72):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]

            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)
            mri.save('/datasets/MD_only/fold2/test/{}'.format(name))        
 

    elif label=='AD':
        for i in range(46,51):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]

            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)
            mri.save('/datasets/MD_only/fold2/test/{}'.format(name))

In [26]:
fold1_train={'File_name':train_file_names,
      'Label':train_labels}  
df_fold1_train= pd.DataFrame (fold1_train, columns =  ['File_name','Label'])
df_fold1_train.groupby('Label').count()
df_fold1_train
from sklearn.utils import shuffle
df_fold1_train = shuffle(df_fold1_train)
np.savetxt('/txt_files/test_fold2.txt', df_fold1_train.values,delimiter=" ", fmt="%s")
df_fold1_train.groupby('Label').count()

        File_name
Label
AD             50
MCI            48
Normal         48

In [27]:
test3=pd.read_csv('/csv_files/dti_test_fold3.csv', index_col=0)
test3.groupby('Label').count()

        DWI_file  day
Label
AD             9    9
MCI            1    1
Normal        49   49

In [28]:
train_labels=[]
train_file_names=[]
dftrain=test3
for i in range(len(dftrain['DWI_file'])):
    file_name=dftrain.iloc[i].DWI_file
    label=dftrain.iloc[i].Label

    mri = nib.load('/nii_data/MD/'+file_name)
    zooms = mri.header.get_zooms()
    old_affine = mri.affine
    new_affine = nib.affines.rescale_affine(affine=old_affine, shape=mri.get_fdata().shape, zooms=zooms, new_shape=(96,96,96))
    new_mri = image.resample_img(mri, target_affine=new_affine,target_shape=(96,96,96), interpolation='nearest')    
    epi_img_data = new_mri.get_fdata()
    if label=='Normal':
        slice_0 = epi_img_data[96//2, :, :]
        slice_1 = epi_img_data[:, 96//2, :]
        slice_2 = epi_img_data[:, :, 96//2]

        mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

        mri = Image.fromarray(mri)
        name=file_name[0:-4]+'_1.png'
        train_labels.append(label)
        train_file_names.append(name)
        mri.save('/datasets/MD_only/fold3/test/{}'.format(name))                        
    elif label=='MCI':
        for i in range(24,72):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]

            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)
            mri.save('/datasets/MD_only/fold3/test/{}'.format(name))        
 

    elif label=='AD':
        for i in range(46,51):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]

            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)
            mri.save('/datasets/MD_only/fold3/test/{}'.format(name))

In [29]:
fold1_train={'File_name':train_file_names,
      'Label':train_labels}  
df_fold1_train= pd.DataFrame (fold1_train, columns =  ['File_name','Label'])
df_fold1_train.groupby('Label').count()
df_fold1_train
from sklearn.utils import shuffle
df_fold1_train = shuffle(df_fold1_train)
np.savetxt('/txt_files/test_fold3.txt', df_fold1_train.values,delimiter=" ", fmt="%s")
df_fold1_train.groupby('Label').count()

        File_name
Label
AD             45
MCI            48
Normal         49

In [30]:
test4=pd.read_csv('/csv_files/dti_test_fold4.csv', index_col=0)
test4.groupby('Label').count()

        DWI_file  day
Label
AD             9    9
MCI            1    1
Normal        48   48

In [37]:
train_labels=[]
train_file_names=[]
dftrain=test4
for i in range(len(dftrain['DWI_file'])):
    file_name=dftrain.iloc[i].DWI_file
    label=dftrain.iloc[i].Label

    mri = nib.load('/nii_data/MD/'+file_name)
    zooms = mri.header.get_zooms()
    old_affine = mri.affine
    new_affine = nib.affines.rescale_affine(affine=old_affine, shape=mri.get_fdata().shape, zooms=zooms, new_shape=(96,96,96))
    new_mri = image.resample_img(mri, target_affine=new_affine,target_shape=(96,96,96), interpolation='nearest')    
    epi_img_data = new_mri.get_fdata()
    if label=='Normal':
        slice_0 = epi_img_data[96//2, :, :]
        slice_1 = epi_img_data[:, 96//2, :]
        slice_2 = epi_img_data[:, :, 96//2]

        mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

        mri = Image.fromarray(mri)
        name=file_name[0:-4]+'_1.png'
        train_labels.append(label)
        train_file_names.append(name)
        mri.save('/datasets/MD_only/fold4/test/{}'.format(name))                        
    elif label=='MCI':
        for i in range(24,72):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]

            
            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256
            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)
            mri.save('/datasets/MD_only/fold4/test/{}'.format(name))        
 

    elif label=='AD':
        for i in range(46,51):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]

            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)
            mri.save('/datasets/MD_only/fold4/test/{}'.format(name))

In [38]:
fold1_train={'File_name':train_file_names,
      'Label':train_labels}  
df_fold1_train= pd.DataFrame (fold1_train, columns =  ['File_name','Label'])
df_fold1_train.groupby('Label').count()
df_fold1_train
from sklearn.utils import shuffle
df_fold1_train = shuffle(df_fold1_train)
np.savetxt('/txt_files/test_fold4.txt', df_fold1_train.values,delimiter=" ", fmt="%s")
df_fold1_train.groupby('Label').count()

        File_name
Label
AD             45
MCI            48
Normal         48

In [33]:
test5=pd.read_csv('/csv_files/dti_test_fold5.csv', index_col=0)
test5.groupby('Label').count()

        DWI_file  day
Label
AD             9    9
MCI            1    1
Normal        48   48

In [34]:
train_labels=[]
train_file_names=[]
dftrain=test5
for i in range(len(dftrain['DWI_file'])):
    file_name=dftrain.iloc[i].DWI_file
    label=dftrain.iloc[i].Label

    mri = nib.load('/nii_data/MD/'+file_name)
    zooms = mri.header.get_zooms()
    old_affine = mri.affine
    new_affine = nib.affines.rescale_affine(affine=old_affine, shape=mri.get_fdata().shape, zooms=zooms, new_shape=(96,96,96))
    new_mri = image.resample_img(mri, target_affine=new_affine,target_shape=(96,96,96), interpolation='nearest')    
    epi_img_data = new_mri.get_fdata()
    if label=='Normal':
        slice_0 = epi_img_data[96//2, :, :]
        slice_1 = epi_img_data[:, 96//2, :]
        slice_2 = epi_img_data[:, :, 96//2]

        mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

        mri = Image.fromarray(mri)
        name=file_name[0:-4]+'_1.png'
        train_labels.append(label)
        train_file_names.append(name)
        mri.save('/datasets/MD_only/fold5/test/{}'.format(name))                        
    elif label=='MCI':
        for i in range(24,72):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]

            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)
            mri.save('/datasets/MD_only/fold5/test/{}'.format(name))        
 

    elif label=='AD':
        for i in range(46,51):
            slice_0 = epi_img_data[i, :, :]
            slice_1 = epi_img_data[:, i, :]
            slice_2 = epi_img_data[:, :, i]

            mri = (np.dstack((slice_0,slice_1,slice_2)) * 255.999) .astype(np.uint8)  # right, Janna, not 256

            mri = Image.fromarray(mri)
            name=file_name[0:-4]+'_{}.png'.format(i)
            train_file_names.append(name)
            train_labels.append(label)
            mri.save('/datasets/MD_only/fold5/test/{}'.format(name))

In [36]:
fold1_train={'File_name':train_file_names,
      'Label':train_labels}  
df_fold1_train= pd.DataFrame (fold1_train, columns =  ['File_name','Label'])
df_fold1_train.groupby('Label').count()
df_fold1_train
from sklearn.utils import shuffle
df_fold1_train = shuffle(df_fold1_train)
np.savetxt('/txt_files/test_fold5.txt', df_fold1_train.values,delimiter=" ", fmt="%s")
df_fold1_train.groupby('Label').count()

        File_name
Label
AD             45
MCI            48
Normal         48